*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 2rem;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:link,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}
